/* Reeset CCS */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
/*-------------------------------------------------------*/

/*** NAV ***/
nav{
    display: flex;
}
nav img{
    width: 25%;
}
nav ul {
    display: flex;
    margin-top: 5%;

}

nav ul li a{
    margin: 0 25px;
    font-size: 20px;
    text-decoration: none;
    color: #707070;
    font-family: "Helvetica Neue";
}
nav ul li a:hover{
    color: #E8B090;
    transition: 0.5s;
}
nav li {
    display: table-cell;
    position: relative;
}
nav ul li:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    height: 1.5px;
    left: 10%;
    position: absolute;
    background: #FEB646;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}
nav ul li:hover:after {
    width: 80px;
}

/*** Bannière ***/
.banner{

}
.banner--wrapper{
    position: relative;
    z-index: 0;
    background-color: #ffeade;
    height: 510px;
    margin: 8% 0;
    display: flex;
    justify-content: flex-end;
}
.banner--block{
    display: block;
}
.banner img{
    position: absolute;
    z-index: 1;
    width: 40%;
    margin-top: -3%;
}
.banner--block h1{
    font-family: Skia;
    font-size: 40px;
}
.banner--block p{
    font-family: "Helvetica Neue";
    font-size: 18px;
    font-weight: 300;
    margin: 10% 0 15% 0;
}
.banner--block button{
    cursor: pointer;
    background-color:#ff9494;
    border: none;
    font-family: "Helvetica Neue";
    font-weight: 100;
    font-size: 25px;
    color: white;
    padding: 18px 60px;
    border-radius: 50px;
    margin-left: 30%;
}
.banner--block button:hover{
    background-color: #ffa6a6;
    color: white;
    transition: 0.3s;
}
.banner--block{
    margin: 8% 8% 10% 10%;
}

/*** Content txt ***/
.content--center p{
    font-size: 18px;
    font-family: "Helvetica Neue";
    font-weight: 300;
    width: 80vw;
    text-align: justify;
    margin: 10%;
    line-height: 25px;
}
.content--center button{
    cursor: pointer;
    background-color: #ff9494;
    border: none;
    font-family: "Helvetica Neue";
    font-weight: 100;
    font-size: 25px;
    color: white;
    padding: 15px 200px;
    border-radius: 50px;
    margin-left: 25%;
}
.content--center button:hover{
    background-color: #ffa6a6;
    color: white;
    transition: 0.3s;
}


/*** Liste ***/
.book{
    display: flex;
    justify-content: center;
    font-family: "Helvetica Neue";
    font-weight: 300;
}
.content--book{
    display: block;
    width: 60%;
}
.content--book hr{
    width: 40%;
    margin-bottom: 5%;
}
.content--book h2{
    font-family: Skia;
    font-weight: 300;
    font-size: 30px;
    margin: 10% 0 2% 35%;
}
.list--flex{
    display: flex;
}
.list--img{
    display: grid;
    width: 200px;
}
.list--img img{
    width: 70%;
    margin: 15% 0;
}
.list--book{
    width: 80%;
}
.list--book li{
    font-family: "Helvetica Neue";
    font-size: 23px;
    margin-left: 20%;
}
.list--book li:nth-child(1){
    margin: 8% 0 0 20%;
}
.list--book li:nth-child(2){
    margin: 15% 0 0 20%;
}
.list--book li:nth-child(3){
    margin: 13% 0 0 20%;
}


/*** Description ***/
.desc{
    background-color: #ffeade;
}
.desc p{
    width: 80vw;
    font-family: "Helvetica Neue";
    font-size: 18px;
    font-weight: 300;
    text-align: justify;
    line-height: 25px;
    padding:100px 120px;
    margin: 5% 0;
}

/*** More ***/
.more h2{
    font-family: Skia;
    font-size: 30px;
    margin-left: 120px;
}
.more button{
    cursor: pointer;
    background-color: #ff9494;
    border: none;
    font-family: "Helvetica Neue";
    font-weight: 100;
    font-size: 25px;
    color: white;
    padding: 20px 50px;
    border-radius: 50px;
    margin-top: 4%;
    margin-left: 100px;
}
.more button:hover{
    background-color: #ffa6a6;
    color: white;
    transition: 0.3s;
}


/*** Footer ***/
footer{
    background-color: #eee;
    height: 100px;
    padding: 20px 0;
    margin-top: 10%;
}
footer li{
    font-family: "Helvetica Neue";
    font-size: 11px;
    font-weight: 300;
    padding: 30px 120px 0;

}
